<div class="col-lg-3">
    <div class="widget style1 navy-bg">
        <div class="row">
            <div class="col-4">
                <i class="fa fa-cloud fa-5x"></i>
            </div>
            <div class="col-8 text-right">
                <span>Ankara</span>
                <h2 class="font-bold">@ViewBag.weather</h2>
            </div>
        </div>
    </div>
</div>